body {
  background: #343a40;
  color: #f8f9fa;
}

.list-movie img {
  /* width: auto; */
  cursor: pointer;
}

header {
  height: 3.5rem;
}

.spinner-grow {
  width: 5rem;
  height: 5rem;
  margin-top: 25vh;
}

#read-movies img {
  /* max-width: 14rem; */
}

/* Card */
/* .card .card-img-top {
  transition: transform 0.3s;
}

.card .card-img-top:hover {
  background: #5cb85c;
  transform: scale(1.03);
} */
